# See https://pip.pypa.io/en/stable/cli/pip_install/#requirements-file-format.
# For list of packages, see https://pypi.org/.

# Jupyter
jupyterlab==3.2.4
ipywidgets==7.6.5
# PyTorch
torchtext==0.11.0
torchinfo==1.6.5
# HACK: https://github.com/PyTorchLightning/pytorch-lightning/issues/11524
torchmetrics<0.7
# TensorBoard
torch-tb-profiler==0.2.1
# HTML parsing
selectolax==0.3.6
# Gensim (word embeddings)
gensim==4.1.2
# Python formatting and linting
autopep8==1.6.0
pylint==2.12.2
# Plotting
matplotlib==3.5.1
plotnine==0.8.0
# Text
python-slugify==5.0.2
inflection==0.5.1
# HuggingFace (Transformers)
transformers==4.15.0
# Machine learning
scikit-learn==1.0.2
# JSON
ijson==3.1.4
# Cloud
gradient==2.0.2
