# See https://pip.pypa.io/en/stable/cli/pip_install/#requirements-file-format.
# For list of packages, see https://pypi.org/.

# Jupyter
jupyterlab==3.2.4
ipywidgets==7.6.5
# PyTorch
torchtext==0.11.0
pytorch-lightning==1.4.9
# HACK: https://github.com/PyTorchLightning/pytorch-lightning/issues/11524
torchmetrics<0.7
# TensorBoard
torch-tb-profiler==0.2.1
# DoIt (job automation)
doit==0.33.1
# HTML parsing
parsel==1.6.0
beautifulsoup4==4.10.0
selectolax==0.3.6
# Gensim (word embeddings)
gensim==4.1.2
# Python formatting and linting
autopep8==1.6.0
pylint==2.12.2
# Graph visualization
bokeh==2.4.2
# Basics
matplotlib==3.5.1
python-slugify==5.0.2
# HuggingFace (Transformers)
transformers==4.15.0
sentencepiece==0.1.96
datasets==1.18.0
