[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-locals,
    too-many-ancestors,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-branches,
    too-many-statements,
    too-many-nested-blocks,
    too-many-public-methods,
    duplicate-code

[TYPECHECK]
generated-members=torch.*
extension-pkg-allow-list=lxml.etree
