[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    invalid-name

[TYPECHECK]
generated-members=torch.*
extension-pkg-allow-list=lxml.etree
