# See https://pip.pypa.io/en/stable/cli/pip_install/#requirements-file-format.
# For list of packages, see https://pypi.org/.
-f https://data.pyg.org/whl/torch-1.9.0+cpu.html
# Jupyter
ipykernel==6.4.1
# PyTorch
torch==1.9.0
torch-scatter==2.0.8
torch-sparse==0.6.12
torch-geometric==2.0.1
# DoIt (job automation)
doit==0.33.1
# Parsel (HTML parsing)
parsel==1.6.0
